<div id="posts">
  {{#each posts as |post|}}
  <div class="row align-center mb-5">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <h3>{{post.title}}</h3>
    </div>
    <div>
      <h4>{{post.book_title}}</h4>
      <p>{{post.text}}</p>
    </div>
  </div>
  {{/each}}
</div>