<div class="grid gap-4 grid-cols-2 ">
 <div class="p-4 flex flex-col items-center ">
    Search new books
  </div>
 <div class="p-4 flex flex-col items-center">
   Old book reviews
  </div>

  
<div id="posts">
  {{#each posts as |post|}}
  <div class="row align-center mb-5">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <h3 id = "postTitle"> <a href="/post/{{id}}">{{post.title}}</a></h3>
    </div>
    <div>
      <h4>{{post.book_title}}</h4>
      <p>{{post.text}}</p>
    </div>
  </div>
  {{/each}}
</div>